html {
  min-height: 100vh;
}

* {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

body {
  min-height: 100vh;
  /* background: linear-gradient(25deg, rgba(199, 109, 0, 0.315) 5%, bisque) !important; */
  background: linear-gradient(0deg, rgb(192, 192, 192) 0%, #eeeeee) !important;
  background: #eeee !important;
}

.header-background-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../Pictures/workout.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: 90%;
}

.Title {
  text-shadow: 0px 3px 0px rgb(155, 155, 155);
  /* margin: 0;
	padding: 0; */
  font-size: 70px;
  text-align: center;
}

#welcome-user-header {
  color: black;
  font-weight: bolder;
  text-shadow: 1.4px 1.4px 1.4px rgba(146, 101, 17, 0.651);

  margin: 10px;
  text-align: center;
}

.page-title-header {
  color: black;
  font-weight: bolder;
  text-shadow: 2px 2px 2px rgba(146, 101, 17, 0.651);

  margin: 10px;
  text-align: center;
  font-size: 40px;
}

.btn-black {
  background: rgba(0, 0, 0, 0.2) !important;
  color: black;
  font-weight: bold !important;
}
.btn-black:active {
  background: black !important;
}
.btn-orange {
  background: rgba(255, 166, 0, 0.2) !important;
  color: rgb(141, 92, 1) !important;
  border-color: rgba(141, 92, 1, 0.5) !important;
  font-weight: bold !important;
}
.btn-orange:active {
  background: orange !important;
  color: white !important;
}
.btn-red {
  background: rgba(255, 0, 0, 0.2) !important;
  color: red !important;
  font-weight: bold !important;
}
.btn-red:active {
  background: red !important;
  color: white !important;
}
.btn-green {
  background: rgba(0, 128, 0, 0.2) !important;
  color: green !important;
  font-weight: bold !important;
}
.btn-green:active {
  background: green !important;
  color: white !important;
}
.btn-grey {
  background: rgba(128, 128, 128, 0.2) !important;
  color: rgb(46, 46, 46) !important;
  border: 1px solid black;
  font-weight: bold !important;
}
.btn-grey:active {
  background: grey !important;
  color: white !important;
}
.btn-blue {
  background: rgba(52, 180, 235, 0.2) !important;
  color: rgb(52, 122, 235) !important;
  font-weight: bold !important;
}
.btn-blue:active {
  color: white !important;
  background: rgb(52, 122, 235) !important;
}

.btn-m-r {
  margin-right: 12px;
}

.btn-m-l {
  margin-left: 12px;
}

.transparent-background {
  background: transparent;
  border: none;
}

@media (max-width: 576px) {
  .mobile-max-width {
    width: 100%;
  }
}

.resize-img {
  width: 30%;
  height: 30%;
}
#body-svg-container {
  width: 60%;
}

@media (max-width: 768px) {
  .resize-img {
    width: 75%;
    height: 75%;
  }
  #body-svg-container {
    width: 90%;
  }
}

.subheader {
  text-align: center;
  font-weight: 700;
  color: orange;
}

.info-tooltip {
  color: black;
  border: none;
  position: absolute;
}
.info-tooltip-inline {
  color: black;
  border: none;
}

body {
  margin: 0 0 55px 0;
}

/* h2,
h4 {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
} */

.homelink {
  text-decoration: none;
}

#TitleColor1 {
  color: white;
}
#TitleColor2 {
  color: orange;
}

.add-button {
  margin-right: 7%;
  color: orange;
  font-size: 3vw;
}

.history-button {
  margin-right: 7%;
  color: orange;
  font-size: 3vw;
}

.btn-circle {
  display: block;
  border-radius: 50%;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; */
}

/* .btn-font {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
} */

.icon-btn {
  padding: 1px 15px 3px 2px;
  border-radius: 50px;
}

.workout_title_input {
  /* width: 60%; */
  text-align: center;
}
.button {
  margin: 30px;
  background-color: black;
  color: orange;
  font-size: 20px;
  padding: 20px;
  transition: 1s;
}

.accordion-history {
  border: 5px red;
  width: 100px;
  height: 400px;

  overflow: auto;
}

.tiger-gif {
  height: 10%;
}

.underline-text {
  text-decoration: underline;
}

.nav__bottom {
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  overflow-x: auto;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  /* font-family: sans-serif; */
  font-size: 13px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
  background-color: #eeeeee;
}

.nav__link--active {
  color: #009578;
}

.nav__icon {
  font-size: 18px;
}

.nav__link {
  border-right: 1px solid rgba(128, 128, 128, 0.445);
  width: 20%;
}

.nav__link:last-child {
  border: none;
}

.nav__text {
  font-size: 12pt !important;
}

@media (max-width: 576px) {
  .nav__text {
    font-size: 8pt !important;
  }
}

.nav__bottom a.active {
  color: blue;
  background-color: gainsboro;
}

.profile-button {
  width: 40%;
}
