<div class="modal-content">
    <div class="modal-header modal-header--sticky">
        <div class="container-fluid justify-content-center">
            <div class="row">
                <h2 class="modal-title col-12 text-center py-1" id="exampleModalLabel" style="font-weight: bolder">
                    Plate Calculator
                    <span class="info-tooltip" data-toggle="tooltip" data-placement="bottom" title="Use the plate
                    calculator to easily calculate which plates are
                    needed on each side of a bar to reach a given weight.">
                        &nbsp
                        <span class="material-icons" style="font-size:15px">info</span>
                    </span>
                </h2>

                <button type="button" id="close-modal-button" class="col-1 btn btn-danger btn-red m-3" data-bs-dismiss="modal" style="
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 30px;
                    height: 30px;
                  ">
                    <i class="fa fa-times" style="position: absolute; right: 7.5px; top: 6px"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="modal-body">

        <div class="container-fluid">
            <div class="row justify-content-center workout_title_input header-input">
                <div class="col-6 d-flex justify-content-center">
                    <input type="number" id="plate-calculator-total-input" placeholder="Total Weight" class="form-control">
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <input type="number" id="plate-calculator-bar-input" placeholder="Bar Weight" class="form-control">
                </div>
            </div>
            <div class="row justify-content-center workout_title_input header-input">
                <div class="col-12 d-flex justify-content-center my-3">
                    <button id="plate-calculator-button" class="btn
                    btn-outline-success btn-green">Calculate</button>
                </div>
            </div>
            <div class="row justify-content-center workout_title_input header-input">
                <div class="col-12 d-flex justify-content-center">
                    <div id="plate-calculator-result"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Default plate denominations (in lbs)
    const PLATE_WEIGHTS = [45, 25, 10, 5, 2.5, 1.25];

    // Calculates how many of each plate are needed
    function calculatePlates(totalWeight, barWeight) {
        const plateCounts = [0, 0, 0, 0, 0, 0];


        let weightRemaining = (totalWeight - barWeight) / 2;
        for (let i = 0; i < PLATE_WEIGHTS.length; i++) {
            while (weightRemaining >= PLATE_WEIGHTS[i]) {
                weightRemaining -= PLATE_WEIGHTS[i];
                plateCounts[i]++;
            }
        }

        return [plateCounts, weightRemaining * 2];
    }


    $(document).on('click', '#plate-calculator-button', function () {
        const totalWeight = parseFloat($('#plate-calculator-total-input').val());
        const barWeight = parseFloat($('#plate-calculator-bar-input').val());

        // Ensure that inputs are filled in
        if (isNaN(totalWeight) || isNaN(barWeight)) {
            let resultHTML = 'Please fill in all inputs';
            $('#plate-calculator-result').html(resultHTML);
            return
        }

        // Ensures that the weight added to bar is a
        // multiple of 2.5
        if ((totalWeight - barWeight) % 2.5 !== 0) {
            let resultHTML = 'Difference in inputs should be a multiple of 2.5 lbs';
            $('#plate-calculator-result').html(resultHTML);
            return
        }

        // And totalWeight > barWeight
        if (totalWeight <= barWeight) {
            let resultHTML = 'Total weight should be greater than bar weight';
            $('#plate-calculator-result').html(resultHTML);
            return
        }


        const [plateCounts, weightRemaining] = calculatePlates(totalWeight, barWeight);

        // Determines result HTML
        let resultHTML = '<center>';
        for (let i = 0; i < plateCounts.length; i++) {
            if (plateCounts[i] > 0) {
                resultHTML += plateCounts[i] + ' x ' + PLATE_WEIGHTS[i] + ' lbs<br>';
            }
        }
        if (resultHTML !== '') {
            resultHTML += "on each side"
        }
        resultHTML += "</center>"

        $('#plate-calculator-result').html(resultHTML);
    });
</script>
