<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Inlcude favicons on all devices -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/static/favicon/site.webmanifest" />
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#ffc40d" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Include css page-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_workout_styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/consistent_styles.css') }}" />

    <!-- jQuery - hosted from Google CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!-- Loads jQuery scripts from static folder (Flask thing) (with
            access to Jinja variables) -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/add_workout_jquery.js') }}"></script>

    {% block javascript %}
    <script type="text/javascript">
        {% include "js/weight_recommendation.js" %}
    </script>
    {% endblock %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

    <!-- IntroJS CSS -->
    <!-- <script src="https://unpkg.com/intro.js/minified/introjs.min.css"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/4.3.0/introjs-rtl.min.css"
        integrity="sha512-VwsKKwi99ZnRScgAkJ+ISGNolfoq+ic/mzJfhZWQ1xwfcbLZzLnHDoERYEppL25Okf+wEI/nDhHogudTa/YkWA==" crossorigin="anonymous"
        referrerpolicy="no-referrer" />


    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <title>TigerFit</title>
</head>

{% if copying_past_workout == true %}
<script type="text/javascript">
    localStorage.clear();

    localStorage.setItem("workout_title", "{{ past_workout.title }}");
    localStorage.setItem("num_exercises", "{{ past_workout.num_exercises }}");
    localStorage.setItem("num_sets", "{{ past_workout.num_sets }}");
    localStorage.setItem("equipment_names", JSON.stringify({{ past_workout.equipment_names | tojson }}));
    localStorage.setItem("reps", JSON.stringify({{ past_workout.reps | tojson }}));
    localStorage.setItem("weights", JSON.stringify({{ past_workout.weights | tojson }}));
    {% include "js/copy_workout.js" %}



</script>

{% endif %}

<body>
    {% include "header_title.html" %} {% if has_agreed_liability == false %} {%
    include "liability_modal.html" %} {% endif %}

    <span id="alerts"></span>

    {% if pref_name is not none %}
    <h2 id="welcome-user-header">Welcome {{pref_name}}!</h1>
        {% else %}
        <h2 id="welcome-user-header">Welcome {{user_name}}!</h1>
            {% endif %}
            <h2 class="page-title-header">Add Workout</h2>
            <hr />

            {% include 'select_equipment_modal.html' %}

            <div id="add_workout_form_content">
                <form action="/add" method="post" id="add_workout_form">
                    <div class="container-fluid">
                        <div class="row justify-content-center workout_title_input header-input">
                            <div class="col-12 d-flex justify-content-center">
                                <!-- <label for="workout_title"><b>Workout Title: </b></label> -->
                                <input type="text" name="title" id="workout_title" class="form-control save_value" placeholder="Workout Title" />
                            </div>
                        </div>
                        <div class="row header-input">
                            <!-- <div class="col-12 col-md-6 d-flex -->
                            <!-- justify-content-center"> -->
                            <div class="col-6 d-flex flex-column align-items-center">
                                <label for="workout_date">
                                    <strong>Today's Date</strong>
                                </label>
                                <input type="date" name="date" id="workout_date" class="form-control
                                save_value" />
                            </div>
                            <!-- </div> -->
                            <!-- <div class="col-12 col-md-6 d-flex -->
                            <!-- justify-content-center"> -->
                            <div class="col-6 d-flex flex-column align-items-center">
                                <label for="workout_start_time">
                                    <strong>Start Time</strong>
                                </label>
                                <input type="time" name="start_time" id="workout_start_time" class="form-control save_value" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="container-fluid">
                        <div class="row">
                            <ul style="list-style-type: none" id="exercises">
                                <!-- Exercise Blueprint HTML -->
                                <li hidden class="hidden_exercise" id="exercise_?ex_num?">
                                    <!-- Exercise ?ex_num? - -->
                                    <!-- <strong class="save_value"
                                        id="?ex_num?_equipment_name_header"
                                        name="?ex_num?_equipment_name_header"></strong>
                                        -->
                                    <select class="custom-select
                                        form-select
                                        equipment-name-select save_value
                                    text-center" id="?ex_num?_equipment_name_header" name="?ex_num?_equipment_name">
                                        {% for equip in
                                        equipment_list %}
                                        <option value="{{equip['equipment_name']}}">{{equip['equipment_name']}}</option>
                                        {% endfor %}
                                        {% for equip_name in
                                        custom_equipment_list %}
                                        <option value="{{equip_name}}">{{equip_name}}</option>
                                        {%endfor%}
                                    </select>
                                    <!-- <strong class="save_value" id="?ex_num?_equipment_name_header" name="?ex_num?_equipment_name_header"></strong> -->

                                    {#{% include 'equipment_dropdown.html' %}#}
                                    <!-- <input hidden class="form-select save_value" id="?ex_num?_equipment_name" name="?ex_num?_equipment_name" /> -->

                                    <table class="
                    table table-responsive table-bordered table-hover
                    center
                    exercises_table
                    width-sm-100
                  " id="exercise_?ex_num?_sets">
                                        <thead>
                                            <tr style="width: 2vw">
                                                <!-- <th class="col-1">Set</th> -->
                                                <th class="col-5">Reps</th>
                                                <th class="col-5">Weight</th>
                                                <th class="col-1">Failed?</th>
                                                <th class="col-1">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr hidden class="hidden_set" id="?ex_num?_?set_num?_set">
                                                <!-- <td>
                                            <span class="set_num">?set_num?</span>
                                        </td> -->
                                                <td>
                                                    <input type="number" inputmode="numeric" step="0.5" min="0" name="?ex_num?_?set_num?_reps"
                                                        id="?ex_num?_?set_num?_reps" class="form-control save_value" placeholder="Reps" autocomplete="off" />
                                                </td>
                                                <td>
                                                    <input type="number" step="0.1" min="0" inputmode="decimal" name="?ex_num?_?set_num?_weight"
                                                        id="?ex_num?_?set_num?_weight" class="form-control save_value" placeholder="Weight"
                                                        autocomplete="off" />
                                                </td>
                                                <td>
                                                    <input class="form-check-input save_value" type="checkbox" name="?ex_num?_?set_num?_failed"
                                                        id="?ex_num?_?set_num?_failed" !checked />
                                                </td>
                                                <td class="p-0">
                                                    <button type="button" class="delete_set_button btn btn-danger" data-ex_num="?ex_num?"
                                                        data-set_num="?set_num?">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="center my-3" id="add-set-button-container">
                                        <button type="button" class="add_set_button btn btn-outline-dark btn-black" data-id="?ex_num?">
                                            <strong>Add a Set</strong>
                                        </button>
                                    </div>

                                    <div class="notes-section center m-0">
                                        <!-- <label for="exercise_?ex_num?_notes">
                                                            <h4>Notes:</h4>
                                                        </label> -->
                                        <textarea name="exercise_?ex_num?_notes" id="exercise_?ex_num?_notes" cols="10" rows="2" class="form-control save_value"
                                            placeholder="Take notes here..."></textarea>
                                    </div>
                                    <hr />
                                </li>
                            </ul>
                        </div>
                        <div class="text-center m-0 mb-3" id="add-exercise-button-container">
                            <button type="button" id="add_exercise_button" class="add_exercise_button btn btn-outline-warning btn-orange">
                                Add an Exercise <i class="fa fa-plus"></i>
                            </button>
                        </div>

                        <div class="text-center m-0 my-2" id="clear-submit-buttons-container">
                            <button type="button" id="clear-workout-button" class="btn
                            btn-outline-danger form_clear_button btn-red
                            btn-m-r" value="Clear Workout">
                                Clear Workout <i class="fa fa-trash"></i>
                            </button>
                            <button type="submit" id="submit-workout-button" class="btn btn-outline-success submit_workout_button btn-green btn-m-l" value="Create
                            Workout">
                                Finish Workout <i class="fa fa-check"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            {%include "navbar.html" %}

            <!-- Option 1: Bootstrap Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


            <!-- <script>
                $(document).ready(() => {
                    $(document).on("click", "#agree-liability-button", function () {
                        alert("function")
                    })
                })
            </script> -->
            {% if has_watched_tutorial == false %}
            {% include "add_workout_tutorial.html" %}
            {% endif %}

</body>

</html>
