<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Equipment Manager</title>

    <!-- <script src="https://unpkg.com/jquery/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/gridjs-jquery/dist/gridjs.production.min.js"></script> -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" />

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12"></div>
            <h2 class="subheader">
                Equipment Manager
                <span class="info-tooltip" data-toggle="tooltip" data-placement="top" title="Use this table to view
                information about various TigerFit equipment and your
                own custom ones! Click on a 1RM entry to edit its value.">
                    &nbsp
                    <span class="material-icons" style="font-size:15px">info</span>
                </span>

            </h2>
        </div>
    </div>

    <div id="equipment-manager-wrapper"></div>
    <script type="module">
        import {
            Grid,
            h,
            html
        } from "https://unpkg.com/gridjs?module";


        // <!-- TODO - customize search with "selector" -->

        new Grid({
            columns: [

                {
                    id: 'name',
                    name: 'Equipment Name',
                    //attributes: { style: "font-weight: bold;" }
                    //formatter: (cell) => html(`<b>${cell}</b>`)
                    attributes: (cell, row, col) => {
                        // add these attributes to the td elements only
                        //console.log("cell: " + cell)
                        //console.log("row: " + JSON.stringify(row))
                        //console.log("col: " + JSON.stringify(col))
                        if (cell) {
                            return {
                                style: "font-weight: bold;"
                            };
                        }
                    }
                },
                {
                    id: '1rm',
                    name: '1RM (lbs)',
                    //formatter: (cell) => html(`<div style="border-bottom: 1px dotted;">${cell}</div>`),

                    // attributes: {
                    //     "contenteditable": "true"
                    // },
                    attributes: (cell, row, col) => {
                        // add these attributes to the td elements only
                        //console.log("cell: " + cell)
                        //console.log("row: " + JSON.stringify(row))
                        //console.log("col: " + JSON.stringify(col))
                        if (cell || cell === 0) {

                            return {
                                "data-cell-content": cell,
                                onclick: () => {

                                    let equipment_name = row.cell(0).data
                                    if (equipment_name == "" || equipment_name == null) {
                                        return
                                    }

                                    let new_1rm = prompt("Enter new one-rep max for " + JSON.stringify(equipment_name).replace(/\"/g, "") + ".")
                                    //console.log("NEW 1RM TO UPDATE: " + new_1rm)

                                    if (new_1rm == "" || isNaN(new_1rm) || new_1rm == null) {
                                        return
                                    }


                                    // Changes value in table
                                    // <!-- ! BUG where sorting table right after update appends the PREVIOUS value ??? -->
                                    let td_index_to_change = -1
                                    $(`tbody.gridjs-tbody td`).each((i, v) => {

                                        if (i === td_index_to_change) {
                                            //console.log("new 1rm currently: " + new_1rm)
                                            //$(v).text('')
                                            $(v).html(new_1rm)
                                            td_index_to_change = -1
                                            //$(v).text(new_1rm)
                                            return false // breaks loop
                                        }

                                        if ($(v).text() === equipment_name) {
                                            td_index_to_change = i + 1
                                        }
                                    })

                                    // Changes value in database
                                    handle1RMUpdate(equipment_name, new_1rm)

                                },
                                style: "cursor: pointer; text-decoration: underline dotted 1px; text-underline-offset: 3px;"
                            };
                        }
                    }
                },
                { id: 'main_group', name: 'Main Muscle Group' },
                { id: 'sub_groups', name: 'Sub Muscle Groups' },
                { id: 'is_custom', name: 'Custom?', hidden: true },
                {
                    id: 'delete', name: 'Delete',
                    formatter: (cell, row) => {
                        let is_custom = row.cells[4].data
                        return h('button', {
                            className: is_custom ? 'btn btn-danger' : 'display-none',
                            onClick: () => {
                                let equipment_name = row.cells[0].data
                                if (is_custom) {
                                    if (confirm('Are you sure you want to delete this custom equipment? Row will delete on page refresh.')) {
                                        handleCustomDelete(equipment_name)
                                    }
                                    //alert(`Editing "${row.cells[0].data}" "${row.cells[1].data}. iscustom? ${is_custom}"`)
                                }

                            }
                        }, is_custom ? html(`<i class="fa fa-trash"></i>`) : '');
                    }
                },

            ],
            server: {
                url: '/equipment_manager',
                method: "POST",
                headers: { "Content-Type": "application/json" },
                then: results => results.data,
                body: JSON.stringify({
                    user_name: "{{ user_name }}",
                    //[ev.target.dataset.columnId]: ev.target.textContent
                }),

            },
            style: {
                table: {
                    'white-space': 'nowrap'
                }
            },

            search: true,
            sort: true,
            pagination: {
                resetPageOnUpdate: true,
                summary: true,
                buttonsCount: 0,
                nextButton: false,
                prevButton: false,

            },
        }).render(document.getElementById('equipment-manager-wrapper'));

        function handle1RMUpdate(equipment_name, new_1rm) {
            let user_name = "{{ user_name }}";
            let url =
                "/update_1rm?user_name=" +
                encodeURIComponent(user_name) +
                "&equipment_name=" +
                encodeURIComponent(equipment_name) +
                "&new_1rm=" +
                encodeURIComponent(new_1rm);
            console.log("url", url);

            console.log("Updating...");

            // if (request != null) request.abort() // ? confused about this

            let request = $.ajax({
                type: "POST",
                url: url,
                //success: updateBodyweightChart,
            });
        }

        function handleCustomDelete(equipment_name) {
            let user_name = "{{ user_name }}";
            let url =
                "/delete_custom?user_name=" +
                encodeURIComponent(user_name) +
                "&equipment_name=" +
                encodeURIComponent(equipment_name)
            console.log("url", url);

            console.log("Updating...");

            // if (request != null) request.abort() // ? confused about this

            let request = $.ajax({
                type: "POST",
                url: url,
                //success: updateBodyweightChart,
            });
        }

        // Change placeholder of search bar
        $(document).ready(() => {
            $('.gridjs-search-input').prop("placeholder", `Search Equipment...`);
            $('.gridjs-search').css({
                'margin': '0px auto',
                'display': 'block',
                'width': '100%'
            });
            $('.gridjs-head').css({
                'text-align': 'center',
            });
        })

    </script>
</body>

</html>
