<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button id="plate-calculator-tool" class="btn-grey btn btn-dark square-btn btn-m-l" data-toggle="modal" data-target="#plate-calculator-modal">A</button>


    <div class="modal fade" id="plate-calculator-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            {% include "workout_tools/plate_calculator.html" %}
        </div>
    </div>



    <!-- Loads jQuery scripts from static folder (Flask thing) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select_equipment_modal.css') }}" />







    <button class="btn-grey btn btn-dark square-btn btn-m-l">
        B
    </button>
    <button class="btn-grey btn btn-dark square-btn btn-m-l">
        C
    </button>
    <button class="btn-grey btn btn-dark square-btn btn-m-l">
        D
    </button>

    <style>
        .square-btn {
            width: 50px;
            height: 50px;
            font-size: 1.5rem;
            text-align: center;
            line-height: 1.2;
            padding: 0;
        }

    </style>

</body>

</html>
