<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Inlcude favicons on all devices -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">

    <!-- Include css page-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/consistent_styles.css') }}" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

    <!-- jQuery - hosted from Google CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <title>TigerFit</title>
</head>

<body>
    {% include "header_title.html" %} {% if has_agreed_liability==false
    %} {% include "liability_modal.html" %} {% endif %}
    <h2 class="page-title-header">
        Workout History
        <span class="info-tooltip" data-toggle="tooltip" data-placement="top" title="View your past workouts based on the date and workout name">
            <span class="material-icons" style="font-size:15px">info</span>
        </span>
    </h2>


    {% if past_workouts|length == 0 %}
    <div class="d-flex justify-content-center align-items-center">
        <img class="resize-img" src="/static/Pictures/sad_tiger.png">
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <h2>No Past Workouts!</h2>
    </div>
    {% else %}

    <!-- ! CHATGPT TESTING -->
    <div id="workout-filter-and-sort" class="d-flex align-items-center mb-3">
        <div class="input-group input-group-sm me-3" id="workout-filter">
            <span class="input-group-text" id="search-icon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search by workout title" aria-label="Search by workout title" aria-describedby="search-icon">
        </div>

        <div class="d-flex align-items-center" id="workout-sort">
            <!-- <label for="sort-select" class="me-2"></label> -->
            <select id="sort-select" name="sort-select" class="form-select form-select-sm">
                <option default value="date-desc">Date (Recent First)</option>
                <option value="date-asc">Date (Older First)</option>
                <option value="title-asc">Workout Title (A-Z)</option>
                <option value="title-desc">Workout Title (Z-A)</option>
            </select>
        </div>
    </div>

    <style>
        #workout-filter-and-sort {
            display: flex;
            justify-content: space-between;
        }

        #workout-filter-and-sort>div {
            flex: 1;
            width: 50%;
        }

        #workout-filter {
            margin-left: 4%;
        }

        #workout-sort {
            margin-right: 4%;
        }

    </style>


    <script>
        // function to sort accordion by workout title ascending
        function sortTitleAsc() {
            let items = $('.accordion-item').get();
            items.sort(function (a, b) {
                let aTitle = $(a).find('.accordion-button strong').text().toUpperCase();
                let bTitle = $(b).find('.accordion-button strong').text().toUpperCase();
                return aTitle.localeCompare(bTitle);
            });
            $('#history_accordion').append(items);
        }

        // function to sort accordion by workout title descending
        function sortTitleDesc() {
            let items = $('.accordion-item').get();
            items.sort(function (a, b) {
                let aTitle = $(a).find('.accordion-button strong').text().toUpperCase();
                let bTitle = $(b).find('.accordion-button strong').text().toUpperCase();
                return bTitle.localeCompare(aTitle);
            });
            $('#history_accordion').append(items);
        }

        // function to sort accordion by workout date ascending
        function sortDateAsc() {
            let items = $('.accordion-item').get();
            items.sort(function (a, b) {
                let aDate = new Date($(a).find('.accordion-button .workout-date').text());
                let bDate = new Date($(b).find('.accordion-button .workout-date').text());
                return aDate - bDate;
            });
            $('#history_accordion').append(items);
        }

        // function to sort accordion by workout date descending
        function sortDateDesc() {
            let items = $('.accordion-item').get();
            items.sort(function (a, b) {
                let aDate = new Date($(a).find('.accordion-button .workout-date').text());
                let bDate = new Date($(b).find('.accordion-button .workout-date').text());
                return bDate - aDate;
            });
            $('#history_accordion').append(items);
        }

        // event listener for sort dropdown
        $('#sort-select').on('change', function () {
            let selected = $(this).val();
            switch (selected) {
                case 'title-asc':
                    sortTitleAsc();
                    break;
                case 'title-desc':
                    sortTitleDesc();
                    break;
                case 'date-asc':
                    sortDateAsc();
                    break;
                case 'date-desc':
                    sortDateDesc();
                    break;
            }
        });

        $(document).ready(function () {
            $("#workout-filter input").on("keyup", function () {
                var searchText = $(this).val().toLowerCase();
                $(".accordion-item").each(function () {
                    var workoutTitle = $(this).find(".accordion-header strong").text().toLowerCase();
                    var equipName = $(this).find(".underline-text").text().toLowerCase();
                    if (workoutTitle.indexOf(searchText) !== -1 || equipName.indexOf(searchText) !== -1) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            })
        })

    </script>


    <!-- ! -->

    <center>
        <div style="overflow: auto; width: 90vw;">
            <div class="accordion" id="history_accordion">
                {% for workout in past_workouts %}
                <div class="accordion-item" data-workout_id={{workout['workoutinfo']['id']}}>
                    <h2 class="accordion-header" id="heading_{{
                    loop.index }}">
                        <button class="accordion-button {% if loop.index > 1 %} collapsed {% endif %}" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse_{{ loop.index }}" aria-expanded="{% if loop.index == 1 %}true{%
                        else %} false {% endif %}" aria-controls="collapse_{{ loop.index
                        }}">
                            <div class="container-fluid">
                                <div class="row">
                                    <div>
                                        <strong>
                                            {{workout['workoutinfo']['title']}}</strong>
                                        (#{{loop.length - loop.index
                                        + 1}})

                                    </div>
                                    <div class="workout-date">
                                        {{workout['workoutinfo']['date']}}
                                        ({{workout['workoutinfo']['minutes_taken']
                                        //60}}:{%
                                        if workout['workoutinfo']['minutes_taken'] % 60 < 10 %}0{% endif %}{{workout['workoutinfo']['minutes_taken'] % 60}} hrs)
                                            </div>
                                    </div>
                                </div>
                        </button>
                    </h2>
                    <div id="collapse_{{ loop.index }}" class="accordion-collapse collapse {% if loop.index == 1 %}show{% endif %}"
                        aria-labelledby="heading_{{ loop.index }}" data-bs-parent="#history_accordion">
                        <div class="accordion-body">
                            {% for exercise in workout['exerciseinfo']: %}
                            <div>
                                <strong class="underline-text">{{exercise['equip_name']}}</strong>
                                {% if 'was_new' in exercise['sets'] and
                                exercise['sets']["was_new"] == true%}
                                <span class="badge bg-success" data-toggle="tooltip" data-placement="top" title="This was
                                your first time completing this exercise">NEW</span>
                                {% endif %}
                            </div>
                            <div style="padding:0;">
                                {% for seti in
                                range(exercise['sets']["num_sets"]):%}
                                <!-- <strong>Set {{seti+1}}:</strong> -->
                                {{exercise['sets']["num_reps"][seti]}}
                                {% if
                                exercise['sets']["num_reps"][seti] ==
                                1 %}rep{% else %}reps{%endif%}
                                @ {{exercise['sets']["weight"][seti]}} lbs {% if exercise['sets']["failed"][seti] ==
                                true %}
                                <i class="fa fa-times-circle" data-toggle="tooltip" data-placement="top" title="You did not
                                complete all the reps of this set" style="color: red"></i>
                                {% endif %} {% if 'was_pr' in exercise['sets'] and exercise['sets']["was_pr"][seti]
                                == true%}
                                <span class="badge bg-primary" data-toggle="tooltip" data-placement="top"
                                    title="You lifted more than your previous 1-rep max estimation">PR</span>

                                {% endif %}

                                <br />

                                {%endfor%}
                                {% if
                                exercise['notes'] != '' %}
                                <p style="white-space: pre-line;"><strong>Notes:
                                    </strong>{{exercise['notes']}}
                                </p>
                                {% else%}
                                <br>
                                {% endif %}
                            </div>
                            <!-- <br /> -->

                            {% endfor %}
                            <button class="btn btn-info copy_workout_and_exercises_button" data-workout_id={{workout['workoutinfo']['id']}}><i
                                    class="fa fa-copy" style="color:
                            white; "></i></button>
                            <button class="btn btn-danger delete_workout_and_exercises_button" data-workout_id={{workout['workoutinfo']['id']}}><i
                                    class="fa fa-trash"></i></button>
                        </div>

                    </div>

                </div>
                {% endfor %}


            </div>
        </div>
    </center>

    <!-- Handle workout and exercise deletion -->
    <script>
        $(document).ready(() => {
            $(document).on("click", ".delete_workout_and_exercises_button", function () {
                if (confirm('Are you sure you want to delete this workout?')) {
                    let workout_id = $(this).data("workout_id")
                    handleWorkoutDeletion(workout_id)
                    $(this).closest(".accordion-item").remove()
                }
            })

            function handleWorkoutDeletion(workout_id) {
                let user_name = "{{ user_name }}";

                console.log("user name = ", user_name)
                let url =
                    "/delete_workout?user_name=" +
                    encodeURIComponent(user_name) + "&workout_id=" + workout_id
                console.log("url", url);
                console.log("Agreeing...");

                // if (request != null) request.abort() // ? confused about this

                let request = $.ajax({
                    type: "GET",
                    url: url,
                    success: updateWorkoutDeletion,
                });
            }

            function updateWorkoutDeletion(response) {
                console.log("Reached the response function")
                console.log("reponse.success", response.success)
            }
        })
    </script>





    {% endif %}

    {% include "navbar.html" %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script>
        $(document).ready(() => {
            $('[data-toggle="tooltip"]').tooltip({
                position: 'botttom'
            })
        });
    </script>
    <!-- Handle workout copying -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/add_workout_jquery.js') }}"></script>


</body>

</html>
